@model IPagedList<LxShop.Models.EF.ProductCategory_Type>
@using PagedList
@using PagedList.Mvc
@using LxShop.Commons
@using LxShop.Models.EF
@{
    ProductCategory_Type search = ViewBag.ProductCategory_Type as ProductCategory_Type;
}

<table class="table table-hover table-bordered mentos">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Product_Category_Type.Product_Category_TypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Product_Category_Type.Product_Category_TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Product_Category.Product_CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Product_Category_Type.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Product_Category_Type.CreatedDate)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.First().CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsDeleted)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Category_Type.Product_Category_TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Category_Type.Product_Category_TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Category.Product_CategoryName)
            </td>
            <td>
                @if (item.Product_Category_Type.Status == 1)
                {
                    <span class="label label-success">Active</span>
                }
                else
                {
                    <span class="label label-danger">Locked</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Category_Type.CreatedDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>*@
            <td class="box-right">
                <div class="box-over">
                    <div class="setting-row" data-show-box="0" onclick="showBoxFunction(this)">
                        <i class="fa fa-cog"></i>
                    </div>

                    <div class="function-item list-to-left d-none">
                        <ul class="list-function">
                            <li> <button class="btn btn-success style-button" onclick="Edit_Cate_Type('@item.Product_Category_Type.Product_Category_TypeId')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></li>
                            <li><button class="btn btn-primary  style-button" onclick="GetDetails_Cate_Type('@item.Product_Category_Type.Product_Category_TypeId')"><i class="fa fa-info-circle" aria-hidden="true"></i></button></li>
                            <li><button class="btn btn-danger style-button" onclick="Delete_Cate_Type('@item.Product_Category_Type.Product_Category_TypeId')"><i class="fa fa-trash-o" aria-hidden="true"></i></button></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("_TableView", "Product_Category_Type", search.SetInfoPagging(page)), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
{
    HttpMethod = "POST",
   UpdateTargetId = "content-view"
}))