@model LxShop.Models.EF.Product_SpecificationModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3 style="text-align:center; padding-top:10px;">Thông tin chi tiết</h3>
<hr />

<div class="mentos">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Stt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Stt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Specification_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Specification_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Specification_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Specification_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Screen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Screen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Camera_rear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Camera_rear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Camera_Selfie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Camera_Selfie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Internal_memory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Internal_memory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.GPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.GPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Battery_capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Battery_capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.SIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.SIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Operating_System)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Operating_System)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Made_In)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Made_In)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Launch_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Launch_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Product_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Product_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Specifications.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Specifications.UpdatedBy)
        </dd>



    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" onclick="GetEdit_Specification('@Model.product_Specifications.Specification_Id')" id="">Sửa</button>
    <button class="btn btn-warning" data-dismiss="modal">Đóng</button>
</div>
