@model List<ProductModel>
@using LxShop.Models.EF

<section class="product-area li-laptop-product li-laptop-product-2 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>SAMSUNG Nổi Bật Nhất</span>
                    </h2>
                    @*<ul class="li-sub-category-list">
                            <li class="active"><a href="shop-left-sidebar.html">iPhone VN/A</a></li>
                            <li><a href="shop-left-sidebar.html">iPhone 12 Series</a></li>
                            <li><a href="shop-left-sidebar.html">iPhone 11 Pro|ProMax</a></li>
                        </ul>*@
                </div>
                <div class="li-banner-2 pt-15">
                    <div class="row">
                        <!-- Begin Single Banner Area -->
                        <div class="col-lg-6 col-md-6">
                            <div class="single-banner">
                                <a href="#">

                                    <img src="~/Content/CssWeb/images/banner/2_1.jpg" alt="Li's Static Banner">
                                </a>
                            </div>
                        </div>
                        <!-- Single Banner Area End Here -->
                        <!-- Begin Single Banner Area -->
                        <div class="col-lg-6 col-md-6">
                            <div class="single-banner pt-xs-30">
                                <a href="#">
                                    <img src="~/Content/CssWeb/images/banner/2_2.jpg" alt="Li's Static Banner">
                                </a>
                            </div>
                        </div>
                        <!-- Single Banner Area End Here -->
                    </div>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model)
                        {
                            var url = "/chi-tiet-san-pham/" + item.Product.Product_Id;
                            decimal moneyvalue = (decimal)item.Product.Original_Price;
                            decimal moneyvaluesale = (decimal)item.Product.Price;
                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                           
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="@url">
                                            <img src="@item.Product.ImgaeAvatar" alt="Alternate Text" />

                                        </a>
                                        @if (item.Product.Is_Hot == 1)
                                        {
                                            <span class="sticker">Hot</span>
                                        }
                                        else if (item.Product.Old_New == 1)
                                        {
                                            <span class="sticker">Mới</span>
                                        }
                                        else if (item.Product.Old_New == 2)
                                        {
                                            <span class="sticker">99%</span>
                                        }
                                        else
                                        {
                                            <span class="sticker">Cũ</span>
                                        }
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="shop-left-sidebar.html">Graphic Corner</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="@url">@item.Product.Product_Name</a></h4>
                                            @if (item.Product.Price == null)
                                            {
                                                <div class="price-box pt-20">
                                                    <span class="new-price new-price-2">
                                                        @(item.Product.Original_Price.HasValue ? item.Product.Original_Price.Value.ToString("N0") : "Liên hệ")₫
                                                    </span>
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="price-box pt-20">
                                                    <span class="new-price new-price-2">
                                                        @(item.Product.Price.HasValue ? item.Product.Price.Value.ToString("N0") : "Liên hệ")₫
                                                    </span>
                                                    <span class="old-price">@(item.Product.Original_Price.HasValue ? item.Product.Original_Price.Value.ToString("N0") : "Liên hệ")₫</span>
                                                </div>

                                            }
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a href="#">Mua hàng</a></li>
                                                <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
