@model List<ProductModel>
@using LxShop.Models.EF

<section class="product-area li-laptop-product li-tv-audio-product pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Điện Thoại</span>
                    </h2>
                    @*<ul class="li-sub-category-list">
                        <li class="active"><a href="shop-left-sidebar.html">Chamcham</a></li>
                        <li><a href="shop-left-sidebar.html">Sanai</a></li>
                        <li><a href="shop-left-sidebar.html">Meito</a></li>
                    </ul>*@
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        @foreach (var item in Model)
                        {
                            var url = "/chi-tiet-san-pham" + item.Product.Product_Id;
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="@url">
                                            <img src="@item.Product.ImgaeAvatar" alt="Li's Product Image">
                                        </a>
                                        @if (item.Product.Is_Hot == 1)
                                        {
                                            <span class="sticker">Hot</span>
                                        }
                                        else if (item.Product.Old_New == 1)
                                        {
                                            <span class="sticker">Mới</span>
                                        }
                                        else if (item.Product.Old_New == 2)
                                        {
                                            <span class="sticker">99%</span>
                                        }
                                        else
                                        {
                                            <span class="sticker">Cũ</span>
                                        }
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="shop-left-sidebar.html">@item.Brand.Brand_name</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="@url">@item.Product.Product_Name</a></h4>
                                            <div class="price-box">
                                                @if (item.Product.Price == null)
                                                {
                                                    <div class="price-box pt-20">
                                                        <span class="new-price new-price-2">
                                                            @(item.Product.Original_Price.HasValue ? item.Product.Original_Price.Value.ToString("N0") : "Liên hệ")₫
                                                        </span>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="price-box pt-20">
                                                        <span class="new-price new-price-2">
                                                            @(item.Product.Price.HasValue ? item.Product.Price.Value.ToString("N0") : "Liên hệ")₫
                                                        </span>
                                                        <span class="old-price">@(item.Product.Original_Price.HasValue ? item.Product.Original_Price.Value.ToString("N0") : "Liên hệ")₫</span>
                                                    </div>

                                                }
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                <li class="add-cart active"><a href="#">Mua Hàng</a></li>
                                                <li><a class="links-details" href="single-product.html"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        }


                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
